# Python
__pycache__/
*.py[cod]
venv/
.env

# Uploads and Static Video Files
backend/static/uploads/*
backend/static/processed/*
!backend/static/uploads/.gitkeep
!backend/static/processed/.gitkeep

# Node
node_modules/
dist/

# IDE
.vscode/
.idea/
