# Python
__pycache__/
*.py[cod]
venv/
.env

# Uploads and Static Video Files
backend/static/uploads/*
backend/static/processed/*
!backend/static/uploads/.gitkeep
!backend/static/processed/.gitkeep
temp_video_uploads
# Node
node_modules/
dist/

# IDE
.vscode/
.idea/

# Training Data Output (Do not commit large datasets)
training_data/
*_data/

backend/opencv_contrib_python-4.8.0.74-cp36-abi3-linux_x86_64.whl


backend/yolo11l-pose.pt
backend/yolo11m-pose.engine
backend/yolo11m-pose.onnx
backend/yolo26l-pose.engine
backend/yolo26l-pose.onnx
backend/yolov8l-pose.engine
backend/yolov8l-pose.onnx
backend/yolov8l-pose.pt
backend/yolov8m-pose.engine
backend/yolov8m-pose.onnx
backend/yolov8m-pose.pt
backend/yolo11m-pose.pt
backend/yolov8n.pt


scripts/yolo26m-pose.pt
backend/yolo26l-pose.pt
backend/yolo26m-pose.engine
backend/yolo26m-pose.onnx
backend/yolo26n-cls.pt
backend/yolo26n-pose.engine
backend/yolo26n-pose.onnx
backend/yolo26m-pose.pt
backend/yolo26n-pose.pt
backend/yolo26s-pose.pt
backend/yolo11m-pose.pt
backend/yolov8n.pt
backend/best.engine
backend/best.onnx
backend/slipper-cls-best.engine
backend/slipper-cls-best.onnx
backend/opencv_contrib_python-4.8.0+c4a576a-cp36-abi3-win_amd64.whl
backend/wheelhouse
scripts/dataset_output
scripts/prediction_runs
scripts/training_runs


nginx-1.30.0/logs
nginx-1.30.0/temp