# Python
__pycache__/
*.py[cod]
venv/
.env

# Uploads and Static Video Files
backend/static/uploads/*
backend/static/processed/*
!backend/static/uploads/.gitkeep
!backend/static/processed/.gitkeep

# Node
node_modules/
dist/

# IDE
.vscode/
.idea/

# Training Data Output (Do not commit large datasets)
training_data/
*_data/

backend/opencv_contrib_python-4.8.0.74-cp36-abi3-linux_x86_64.whl

scripts/yolo26m-pose.pt